<div class="card animated fadeIn fast" *ngIf="sujetos.tipo == 'villano'">
    <!-- <img src="{{heros.img}}" class="card-img-top" alt="{{heros.nombre}}"> -->
    <img [src]="sujetos.img" class="card-img-top" [alt]="sujetos.nombre">
    <div class="card-body">
        <h5 class="card-title">{{sujetos.nombre}}</h5>
        <p class="card-text">{{sujetos.bio}}</p>
        <p class="card-text"><small class="text-muted">{{sujetos.aparicion}}</small></p>
        <button type="button" (click)="verSujeto()" class="btn btn-outline-primary btn-block">Ver mas...</button>
    </div>
</div>
